<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href="{{url_for('static', filename='estilo.css') }}">
    <meta charset="UTF-8">
    <title>PRIMEIRO FLASK</title>
</head>
<body>
    {% if nome_pessoa %}
    <h1>OI,  {{nome_pessoa}}</h1>
    {% else %}
    <h1>HELLO DESCONHECIDO</h1>
    {% endif %}
    <p> estou testando a página</p>
    <ul>
    {% for item in lista %}
    <li> {{ item }}</li>
    {% endfor %}
    </ul>
    <h2 style="color: red;"> FLASK</h2>
</body>
</html>
